<ion-header>
  <ion-navbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-list>
    <ion-item>
  <ion-label stacked>Usuario</ion-label>
  <ion-input type="text"></ion-input>

     </ion-item>
     <ion-item>
      <ion-label stacked>Password</ion-label>
      <ion-input type="password"></ion-input>
    </ion-item>
  </ion-list>

  <h1>Hola</h1>
  The world is your oyster.
<ion-list>
  <ion-item *ngFor="let list of lists">
      {{ list.nom  }} {{ list.apel  }} Edad = {{ list.edad  }}
  </ion-item>
</ion-list>
  <p>
    If you get lost, the <a href="http://ionicframework.com/docs/v2">docs</a> will be your guide.
  </p>
  <ion-list>
    <ion-item *ngFor="let deporte of deportes">
        {{ deporte  }}
    </ion-item>
  </ion-list>
  <ion-list>
    <ion-item *ngFor="let i of items" (click)="itemSelected(item)">
        {{ i  }}
    </ion-item>
  </ion-list>
</ion-content>
